<link rel="stylesheet" href="/css/User-signIn.css">
<!-- <h1>Google Sign In</h1> -->
<div class="googlelogin">
    <h3 id="link">
        
        <a href="/users/auth/google"><img src="https://th.bing.com/th/id/R.4aa108082e7d3cbd55add79f84612aaa?rik=I4dbPhSe%2fbHHSg&riu=http%3a%2f%2fpurepng.com%2fpublic%2fuploads%2flarge%2fpurepng.com-google-logo-2015brandlogobrand-logoiconssymbolslogosgoogle-6815229372333mqrr.png&ehk=ewmaCOvP0Ji4QViEJnxSdlrYUrTSTWhi8nZ9XdyCgAI%3d&risl=&pid=ImgRaw&r=0" style="height: 50px; width:100px;">&nbsp;&nbsp;Sign In</a>
    </h3>
</div>
